@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="book-item">
    <h2 class= "Book-Name"> Book Name</h2>
    <h3 class="Book-Category">Category</h3>
    <p class="Book-Category-type">Category Type</p>

</section>